<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h2>
            <a href="/sign_out">logout</a>
        </h2>
        <ol>
            <li><a href='/ruby'>Ruby chanel</a></li>
            <li><a href='/rails'>Rails chanel</a></li>
        </ol>
    </body>
</html>